{% extends "layout.html" %}
{% set active_page = "About" %}
{% block title %}
    About Us
{% endblock %}
{% block main %}
<div class="auto_margin">
    <br>
    <div class="text-center" style="border-bottom: 2px solid rgba(143, 143, 143, 0.514)">
        <h2> เกี่ยวกับเรา </h2>
        <p style="text-align: center;">
            StudyOGame เว็บรีวิวเกมสำหรับผู้ปกครองที่จะช่วยทำให้โลกการเล่นเกมไม่ยากเกินเข้าใจอีกต่อไป</p>
    </div>
    <br>
    <div class="text-center">
        <div>
            <h2> ติดต่อ </h2>
        </div>
        <h4>📧 studyogames@gmail.com</h4>
        <h4>☎️ 0123456789</h4>
    </div>
</div>

{% endblock %}