{% extends "layout.html" %}
  
{% set active_page = "Profile" %}
{% block title %}
    Profile
{% endblock %}
{% block main %}

    <div class="text-center">
        <h2>{{ username }} PROFILE </h2>

        {% for data in data %}
    <br> <br>
    <div class="form-group">
        
        <div class="form-group">
            <label>ชื่อผู้ใช้: {{ data[0] }}</label>
        </div>
        <div class="form-group">
            <label>ประเภท: {{ data[1] }} </label><br>
        </div>
        <div class="form-group">
            <label>อีเมล: {{ data[2] }} </label>
        </div>
        <div class="form-group">
            <label>ชื่อ-นามสกุล: {{ data[3] }} </label>
        </div>
        <br>

        {% endfor %}
    </div>
          
    <br>
    <a href="reset profile"><input type="button" class="btn btn-success" value="แก้ไขโปรไฟล์"></a>
    <a href="/reset password"><input type="button" class="btn btn-success" value="เปลี่ยนรหัสผ่าน"></a>
    </div>
          
    </div>
     
{% endblock %}
