{% extends "layout.html" %}
{% set active_page = "ResetPassword" %}
{% block title %}
    Reset password
{% endblock %}
{% block main %}
    <div class="text-center">
        <h2>  Reset Password </h2>
        <div class="form-group">
    <form method="POST" action="/reset password">
        <br>
        <label>กรอกรหัสผ่านเก่าของคุณ</label>
        <br><br>
        <input type="password" class="form-control" name="old_password" id="old_password" placeholder="กรอกรหัสผ่านเก่าของคุณ">
        <br>
        <label>กรอกรหัสผ่านใหม่</label>
        <input type="password" class="form-control" name="new_password" id="new_password" placeholder="กรอกรหัสผ่านใหม่">
        <br>
        <label>ยืนยันรหัสผ่านใหม่ของคุณ</label>
        <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" placeholder="ยืนยันรหัสผ่านใหม่ของคุณ">
        <br>
        <input class="btn btn-primary smtbtn" type="submit" >
    </form>
    </div>
    </div>
{% endblock %}